In [2]:
a=range(10,1,-2)

In [4]:
print(list(a))

[10, 8, 6, 4, 2]

In [5]:
list1=[1,2,3,4,5]

In [6]:
print(list1)

[1, 2, 3, 4, 5]

In [7]:
list2=["香蕉","蘋果","橘子"]

In [8]:
print(list2)

['香蕉', '蘋果', '橘子']

In [10]:
list3=[1,"香蕉",True]

In [11]:
print(list3)

[1, '香蕉', True]

In [12]:
print(list1[0])

1

In [13]:
print(list2[1])

蘋果

In [15]:
print(list1[4])

5

In [16]:
print(list2[0])

香蕉

In [17]:
print(list2[2])

橘子

In [18]:
print(list2[-1])

橘子

In [19]:
print(list2[-2])

蘋果

In [20]:
print(list2[-3])

香蕉

In [21]:
print(list1[-5])

1

In [22]:
list5=[["tom","1234"]],["mary","abcd"],["david","5678"]

In [23]:
print(list5[1])

['mary', 'abcd']

In [24]:
print(list5[0])

[['tom', '1234']]

In [25]:
print(list5[1][1])

abcd

In [26]:
print(list5[0])

[['tom', '1234']]

In [27]:
print(list5[1][-2])

mary

In [29]:
a=int(input())
b=int(input())
c=int(input())
list6=[a,b,c]
print("國文成績:",list6[0])
print("數學成績:",list6[1])
print("英文成績:",list6[2])

國文成績: 85
數學成績: 79
英文成績: 93

In [30]:
list1=["香蕉","蘋果","橘子"]
for s in list1:
    print(s,end=",")

香蕉,蘋果,橘子,

In [31]:
list1=[123,"apple",True]
for s in list1:
    print(s)

123
apple
True

In [32]:
scores=[85,79,93]
print(len(scores))

3

In [34]:
scores=[85,79,93]
for i in range(len(scores)):
    print(scores[i])

85
79
93

In [35]:
list6=["85","79","93"],["1","2","3"],["tom","mary","tony"]
print("國文成績:",list6[0][0],"編號:",list6[1][0],"姓名")
print("數學成績:",list6[0][1])
print("英文成績:",list6[0][2])

國文成績: 85 編號: 1 姓名
數學成績: 79
英文成績: 93

In [70]:
scores=["國文成績:",85,"編號:",1,"姓名:","tom","數學成績:",79,"編號:",,93]
for i in range(len(scores)):
    print(scores[i],end=" ")

國文成績: 85 編號: 1 姓名: tom 79 93

In [58]:
scores=[85,79,93]
for i in range(len(scores)):
    print(i)

0
1
2

In [74]:
a=[85,79,93]
b=["國文成績:","數學成績:","英文成績:"]
for i in range(len(a)):
    print(b[i])
    print(a[i])

國文成績:
85
數學成績:
79
英文成績:
93

In [78]:
a=[85,79,93]
b=[1,2,3]
c=["tom","mary","tony"]
d=["國文成績:","數學成績:","英文成績:"]
for i in range(len(b)):
    print("編號",b[i],"姓名",c[i])
    for i in range(len(a)):
        print(d[i],a[i])

編號 1 姓名 tom
國文成績: 85
數學成績: 79
英文成績: 93
編號 2 姓名 mary
國文成績: 85
數學成績: 79
英文成績: 93
編號 3 姓名 tony
國文成績: 85
數學成績: 79
英文成績: 93

In [100]:
a=list(input())
b=""
for i in a:
    b=i+b
print(b)

ius

In [85]:
#30
a,b,c=map(int,input().split())
for i in range(a,b,c):
    print(i,end=",")

1,3,5,7,9,11,

In [93]:
#32
a,b,c=map(int,input().split())
d=range(a,b,c)
i=list(d)
print(i)

[1, 3, 5, 7, 9, 11]

In [94]:
input_str = input("請輸入字串，以空格分隔: ")
words = input_str.split()
reversed_words = [word[::-1] for word in words]
output_str = ' '.join(reversed_words)
print(output_str)

elppa ananab ekac

In [95]:
 #讀取使用者輸入的字串，並以空格分隔
input_str = input("請輸入字串，以空格分隔: ")

# 將輸入的字串分割成列表
words = input_str.split()

# 將每個字串倒序
reversed_words = [word[::-1] for word in words]

# 倒序排列字串列表
reversed_words.reverse()

# 將結果合併成一個以空格分隔的字串
output_str = ' '.join(reversed_words)

# 輸出結果
print(output_str)

omew elpoep owt , ome elpoep eno

In [96]:
#15
# 讀取使用者輸入的字串，以空格分隔
input_str = input("請輸入字串，以空格分隔: ")

# 將輸入的字串分割成列表
words = input_str.split()

# 倒序排列字串列表
words.reverse()

# 將結果合併成一個以空格分隔的字串
output_str = ' '.join(words)

# 輸出結果
print(output_str)

cake banana apple

In [97]:
a,b,c=map(int,input().split())
print((a,b,c)*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [98]:
a=input()
b=a*3
print(b)

123123123

123123123

In [101]:
#bi
m=0
for i in range(1,101,1):
    m+=i
print(m)

5050

In [102]:
#14
a,b,c=map(int,input().split())
if a+b>c and a+c>b and b+c>a:
    print("Valid")
else:
    print("Invalid")

In [2]:
#5
a,b,c=map(int,input().split())
if a>b>c:
    print(c)
elif a>c>b:
    print(b)
elif c>a>b:
    print(b)
elif b>a>c:
    print(c)
elif c>b>a:
    print(a)
else:
    print(a)

3

In [3]:
#6
a,b,c=map(float,input().split())
if a>b>c:
    print(a)
elif a>c>b:
    print(a)
elif c>a>b:
    print(c)
elif b>a>c:
    print(b)
elif c>b>a:
    print(c)
else:
    print(b)

5.0

In [7]:
#11
a,b=map(int,input().split())
c=1
for i in range(1,a*b):
    if (a%i==0) and (b%i==0):
        c=i
print(c)

5

In [15]:
#12
a,b=map(int,input().split())
c=0
for i in range(1,a*b):
    if (i%a==0) and (i%b==0):
        c=i
print(c)

900

In [10]:
#12
import math

# 讀取使用者輸入的兩個整數
num1, num2 = map(int, input("請輸入兩個整數，以空格分隔: ").split())

# 計算最大公因數
gcd = math.gcd(num1, num2)

# 計算最小公倍數
lcm = abs(num1 * num2) // gcd

# 輸出結果
print("兩數的最小公倍數是:", lcm)

兩數的最小公倍數是: 100

In [11]:
#13
# 讀取使用者輸入的字串
input_str = input("請輸入字串: ")

# 初始化一個空字串來存儲結果
result = ''

# 遍歷輸入字串的每個字符及其索引
for i, char in enumerate(input_str):
    if (i + 1) % 2 != 0:  # 奇數位置（從1開始）
        result += char.upper()
    else:  # 偶數位置
        result += char.lower()

# 輸出結果
print(result)

AbCd

In [12]:
#23
a=list(input())
print(len(a))

7

In [16]:
#20
m=0
a=int(input())
for i in range(15,a+1):
    if i%2==0:
        m=m+i
print(m)

76